<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/coursetype.css">
</head>
<body>
<!--begin header头-->
<div id='ct_header'>header</div>
<!--end header头-->

<div id='ct_main'>
	<div id='ct_container'>
<!--
	<foreach name="model" item="vo" >  
	  	<p>{$vo.id}:{$vo.name}:{$vo.pid}:{$vo.path}</p>
	</foreach>
-->
	
	    <div class="ct_course-nav-hd">
	        <span>全部课程</span>
	        <a href="/about/recruit" class="for-teacher hide-text" title="应聘讲师" target="_blank">应聘讲师</a>
	    </div>
	</div>
</div>

<!--begin footer尾-->
<div id='ct_footer'>footer</div>
<!--end footer尾-->
</body>
</html>