<head>

	<meta charset="utf-8" />

	<title>就要学 | 在线教育平台管理</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/style.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="__CSS__/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES --> 

	<link href="__CSS__/jquery.gritter.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/daterangepicker.css" rel="stylesheet" type="text/css" />

	<link href="__CSS__/fullcalendar.css" rel="stylesheet" type="text/css"/>

	<link href="__CSS__/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>

	<link href="__CSS__/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="__IMG__/favicon.ico" />

</head>