<!--友情链接jq-->
	<SCRIPT type=text/javascript src="__JS__/jquery.js"></SCRIPT>
	<SCRIPT type=text/javascript charset=utf-8 src="__JS__/lrscroll.js"></SCRIPT>
<!--友情链接jq结束-->
	<!--footer页脚开始-->
	    <!--页脚友情链接-->
        <div class="footer_link">
            <div class="link_auto">
            	<!--遍历层-->
            	<DIV id=featureContainer>
				<DIV id=feature>
				<DIV id=block>
				<DIV id=botton-scroll>
				<UL class=featureUL>

				  <LI class=featureBox>
				  <DIV class=box><A href="#" target="_blank"><IMG alt=Paracletos  src="__IMG__/01.png" width=197 height=33> </A></DIV>
				  <!-- /box --></LI>
				  
				  <LI class=featureBox>
				  <DIV class=box><A href="#" target="_blank"><IMG alt="Natural Touch Soap" src="__IMG__/02.png" width=197 height=33> </A></DIV>
				  <!-- /box --></LI>
				  
				  <LI class=featureBox>
				  <DIV class=box><A href="#" target="_blank"><IMG alt="LRTK" src="__IMG__/03.png" width=197 height=33> </A></DIV>
				  <!-- /box --></LI>
				  
				  <LI class=featureBox>
				  <DIV class=box><A href="#" target="_blank"><IMG alt="Natalie Reid" src="__IMG__/04.png" width=197 height=33> </A></DIV>
				  <!-- /box --></LI>
				  
				  <LI class=featureBox>
				  <DIV class=box><A href="#" target="_blank"><IMG alt="xixi" src="__IMG__/05.png" width=197 height=33> </A></DIV>
				  <!-- /box --></LI>
				  
				  <LI class=featureBox>
				  <DIV class=box><A href="#" target="_blank"><IMG alt="Catherine Sherwood" src="__IMG__/06.png" width=197 height=33> </A></DIV>
				  <!-- /box -->
				  </LI>
				  
				  </UL>
				  </DIV><!-- /botton-scroll --></DIV><!-- /block --><A class=prev href="javascript:void();">Previous</A><A class=next 
				href="javascript:void();">Next</A> </DIV>
				<!-- /feature -->
				</DIV><!-- /featureContainer -->
            	<!--遍历层结束-->
            </div>
        </div>
        <!--页脚友情链接结束-->

         <!--页脚内容-->
        <div class="footer_text">
          <div class="footer_tauto">
	          <div class="footer_tleft">
	          	<div class="footer_ul">
	          	 <ul>
	          	  <li><a href="#">首页</a></li>
	          	  <li><a href="#">课程</a></li>
	          	  <li><a href="#">加薪</a></li>
	          	  <li><a href="#">分享</a></li>
	          	  <li><a href="#">社区</a></li>
	          	  </ul>
	          	 </div>
                <p class="footer_p2">© 2015 Ecode.  All Rights Reserved.</p>
                <p class="footer_p3">Not for commercial use, for project practice</p>
	          </div>
	          <div class="footer_tright">
	          	<ul>
	          		<li><a href="#"><img src="__IMG__/f_a.png"></a></li>
	          		<li><a href="#"><img src="__IMG__/f_b.png"></a></li>
	          		<li><a href="#"><img src="__IMG__/f_c.png"></a></li>
	          		<li><a href="#"><img src="__IMG__/f_d.png"></a></li>
	          		<li><a href="#"><img src="__IMG__/f_e.png"></a></li>
	          		<li><a href="#"><img src="__IMG__/f_f.png"></a></li>
	          	</ul>
	          </div>
          </div>
        </div>
        <!--页脚内容结束-->
	<!--footer页脚结束-->