	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	  <!--外层百分比div-->
	   <div class="header">
	   	  <!--header头内容展示区-->
	   	  <div class="header_text">

	   	  	 <!--LOGO-->
             <div class="header_logo">
             	<img src="__IMG__/logo.png"></img>
             </div>
             <!--LOGO区结束-->

             <!--nav导航区-->
             <div class="header_nav">
             	<ul>
             	  <li><a href="#">课程</a></li>
             	  <li><a href="#">加薪</a></li>
             	  <li><a href="#">分享</a></li>
             	  <li><a href="#">社区</a></li>
             	</ul>
             </div>
             <!--nav导航区结束-->
             
             <!--Search搜索登录区-->
             <div class="header_Search">

               <!--input搜索-->
             	<div class="nav_input">
             		  <div class="container">

					    <input class="sousuo" type="text" name="keyword" value="搜索课程" onblur="if(this.value=='')this.value='搜索课程';" onfocus="if(this.value=='搜索课程')this.value='';"></input>

					    <div class="search">
					        <input class="input_img" type="submit" value=""></input>
					    </div>

					</div>
             	</div>
             	<!--input搜索结束-->
               
               <!--登录注册-->
             	<div class="nav_Login">
             		<p><a href="#">登录</a><a href="#">注册</a></p>
             	</div>
             	<!--登录注册结束-->

             </div>
             <!--Search搜索登录区结束-->

	   	  </div>
	   	  <!--header头内容展示区结束-->
	   </div>
	  <!--外层百分比div结束-->

	<!--header结束-->