<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<include file="Public/header" />

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<include file="Public/headmenu" />

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->
			<include file="Public/left" />
		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->  

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						<div class="color-panel hidden-phone">

							<div class="color-mode-icons icon-color"></div>

							<div class="color-mode-icons icon-color-close"></div>

							<div class="color-mode">

								<p>THEME COLOR</p>

								<ul class="inline">

									<li class="color-black current color-default" data-style="default"></li>

									<li class="color-blue" data-style="blue"></li>

									<li class="color-brown" data-style="brown"></li>

									<li class="color-purple" data-style="purple"></li>

									<li class="color-grey" data-style="grey"></li>

									<li class="color-white color-light" data-style="light"></li>

								</ul>

								<label>

									<span>Layout</span>

									<select class="layout-option m-wrap small">

										<option value="fluid" selected>Fluid</option>

										<option value="boxed">Boxed</option>

									</select>

								</label>

								<label>

									<span>Header</span>

									<select class="header-option m-wrap small">

										<option value="fixed" selected>Fixed</option>

										<option value="default">Default</option>

									</select>

								</label>

								<label>

									<span>Sidebar</span>

									<select class="sidebar-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

								<label>

									<span>Footer</span>

									<select class="footer-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

							</div>

						</div>

						<!-- END BEGIN STYLE CUSTOMIZER -->  

						<h3 class="page-title">

							网站信息管理

							 <small>一个好的配置可以让系统运转更佳</small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">Home</a> 

								<span class="icon-angle-right"></span>

							</li>

							<li>

								<a href="#">Form Stuff</a>

								<span class="icon-angle-right"></span>

							</li>

							<li><a href="#">Form Layouts</a></li>

						</ul>

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<div class="tabbable tabbable-custom boxless">

							<ul class="nav nav-tabs">

								<li class="active"><a href="#tab_1" data-toggle="tab">基础信息</a></li>
								<li><a href="#tab_2" data-toggle="tab">附件设置</a></li>
								<li><a href="#tab_3" data-toggle="tab">性能设置</a></li>
								<li><a href="#tab_4" data-toggle="tab">水印设置</a></li>
								<li><a href="#tab_5" data-toggle="tab">增加变量</a></li>
							</ul>

							<div class="tab-content">
								
								<foreach name="data" item="vo" key="k">
								
									<if condition="$vo.vargroup eq 0">
								
								<div class="tab-pane {$k == 1 ? 'active' : ''}"  id="tab_{$k}">

									<div class="portlet box blue">

										<div class="portlet-title">

											<div class="caption"><i class="icon-reorder"></i></div>

											<div class="tools">

												<a href="javascript:;" class="collapse"></a>

												<a href="#portlet-config" data-toggle="modal" class="config"></a>

												<a href="javascript:;" class="reload"></a>

												<a href="javascript:;" class="remove"></a>

											</div>

										</div>

										<div class="portlet-body form">

											<!-- BEGIN FORM-->

											<form action="{:U("setting/update")}" class="form-horizontal form-row-seperated">
											<foreach name="vo" item="vvo">
														<div class="control-group">

															<label class="control-label">{$vvo['varinfo']}</label>

															<div class="controls">
															<!-- 判断表单输出类型  -->
															
															<switch name="vvo['vartype']">
															<case value="0">
																<input value="{$vvo['varvalue']}" name="{$vvo['varname']}" type="text" placeholder="small" class="m-wrap span12" />

																<span class="help-inline">${$vvo['varname']}</span>
															</case>
															<case value="1">
																<label class="radio">
																<input type="radio" name="vartype" value="0" {$vvo['varvalue']?'checked':''} />
																启用
																</label>
																<label class="radio">
																<input type="radio" name="vartype" value="1" {$vvo['varvalue']?'':'checked'} />
																关闭
																</label><br>
																<span class="help-inline">${$vvo['varname']}</span>
															</case>
															<case value="2">
																<textarea class="span6 m-wrap" rows="3"></textarea>
																<br>
																<span class="help-inline">${$vvo['varname']}</span>
															</case>
															</switch>
														</div>
														</div>
											</foreach>

												<div class="form-actions">

													<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>

													<button type="button" class="btn">Cancel</button>

												</div>

											</form>

											<!-- END FORM-->  

										</div>

									</div>
									
								</div>
									</if>
								</foreach>
								<div class="tab-pane"  id="tab_4">

									<div class="portlet box blue">

										<div class="portlet-title">

											<div class="caption"><i class="icon-reorder"></i></div>

											<div class="tools">

												<a href="javascript:;" class="collapse"></a>

												<a href="#portlet-config" data-toggle="modal" class="config"></a>

												<a href="javascript:;" class="reload"></a>

												<a href="javascript:;" class="remove"></a>

											</div>

										</div>

										<div class="portlet-body form">

											<!-- BEGIN FORM-->

											<form action="{:U("setting/update")}" class="form-horizontal form-row-seperated">
												
												
												<div class="control-group">

													<label class="control-label">是否开启水印</label>

													<div class="controls">

														<label class="radio">

														<input type="radio" name="vartype" value="0" />
														启用
														</label>
														<label class="radio">
														<input type="radio" name="vartype" value="1" checked />
														关闭
														</label> 
													</div>
												</div>


												<div class="control-group">
														<label class="control-label">参数说明</label>
														<div class="controls">
															<span class="help-inline">宽</span>
															<input value="" name="varinfo" type="text" placeholder="varinfo" class="m-wrap small" />
															<span class="help-inline">高</span>
															<input value="" name="varinfo" type="text" placeholder="varinfo" class="m-wrap small" />
															
														</div>
												</div>

												<div class="form-actions">

													<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>

													<button type="button" class="btn">Cancel</button>

												</div>

											</form>

											<!-- END FORM-->  

										</div>

									</div>

								</div>
								<div class="tab-pane"  id="tab_5">

									<div class="portlet box blue">

										<div class="portlet-title">

											<div class="caption"><i class="icon-reorder"></i></div>

											<div class="tools">

												<a href="javascript:;" class="collapse"></a>

												<a href="#portlet-config" data-toggle="modal" class="config"></a>

												<a href="javascript:;" class="reload"></a>

												<a href="javascript:;" class="remove"></a>

											</div>

										</div>

										<div class="portlet-body form">

											<!-- BEGIN FORM-->

											<form method="post" action="{:U("setting/add")}" class="form-horizontal form-row-seperated">
												
												
													<div class="control-group">

														<label class="control-label">变量名称</label>
														<div class="controls">
															<input value="" name="varname" type="text" placeholder="varname" class="m-wrap span12" />
															<span class="help-inline">系统会自动加 $_cfg</span>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label">参数说明</label>
														<div class="controls">
															<input value="" name="varinfo" type="text" placeholder="varinfo" class="m-wrap span12" />
															<span class="help-inline"></span>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label">变量值</label>
														<div class="controls">
															<input value="" name="varvalue" type="text" placeholder="varvalue" class="m-wrap span12" />
															<span class="help-inline"></span>
														</div>
													</div>
													<div class="control-group">

													<label class="control-label">变量类型</label>

													<div class="controls">

														<label class="radio">

														<input type="radio" name="vartype" value="0" />
														文本
														</label> 
														<label class="radio">
														<input type="radio" name="vartype" value="1" />
														布尔(Y/N)
														</label>
														<label class="radio">
														<input type="radio" name="vartype" value="2" />
														多行文本
														</label>  
													</div>
												</div>

												<div class="control-group">

													<label class="control-label">所属组</label>

													<div class="controls">

														<select name="vargroup" class="small m-wrap" tabindex="1">

															<option value="0">基本设置</option>

															<option value="1">附件设置</option>

															<option value="2">性能设置</option>
														</select>

													</div>

												</div>


												<div class="form-actions">

													<button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>

													<button type="button" class="btn">Cancel</button>

												</div>

											</form>

											<!-- END FORM-->  

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->
		<include file="Public/foortjs" />
	<!-- END JAVASCRIPTS -->   

</body>

<!-- END BODY -->

</html>