<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>就要学视频教育网</title>
	<link rel="stylesheet" href="__CSS__/wy-mod-banner.css" media="screen">
</head>
<body>
	<!--header头部-->
<include file="Public/header" />
   <!--header头内容展示区结束-->
	   </div>
	  <!--外层百分比div结束-->

	<!--header结束-->
       

    <!--banner轮播图-->
       <div class="banner">
         <div class="wy-mod-banner" style="overflow:hidden;">
	
	<div id="_banners" class="banners">
		<div class="banner banner1">
			<a href="#"><img width="1600" height="599" src="__IMG__/banner1.jpg" alt="微云，生活精彩" /></a>
		</div>
		<div class="banner banner2">
			<a href="#"><img width="1600" height="599" src="__IMG__/banner2.jpg" alt="微云，生活精彩" /></a>
		</div>
		<div class="banner banner3">
			<a href="#"><img width="1600" height="599" src="__IMG__/banner3.jpg" alt="微云，生活精彩" /></a>
		</div>
		<div class="banner banner4">
			<a href="#"><img width="1600" height="599" src="__IMG__/banner4.jpg" alt="微云，生活精彩" /></a>
		</div>
	</div>
	
	  <div id="_focus" class="focus">
	  	<a data-index="0" href="javascript:void(0);" class="on"><span class="bg-b"></span><span class="inner"></span></a>
		<a data-index="1" href="javascript:void(0);"><span class="bg-b"></span><span class="inner"></span></a>
		<a data-index="2" href="javascript:void(0);"><span class="bg-b"></span><span class="inner"></span></a>
		<a data-index="3" href="javascript:void(0);"><span class="bg-b"></span><span class="inner"></span></a>
	</div>
</div>
       </div>
	<!--banner轮播图结束-->
 
 <!--banner轮播图JQ--> 
<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
var glume = function(banners_id, focus_id){
	this.$ctn = $('#' + banners_id);
	this.$focus = $('#' + focus_id);
	this.$adLis = null;
	this.$btns = null;
	this.switchSpeed = 5;//自动播放间隔(s)
	this.defOpacity = 1;
	this.crtIndex = 0;
	this.adLength = 0;
	this.timerSwitch = null;
	this.init();
};
glume.prototype = {
	fnNextIndex:function(){
		return (this.crtIndex >= this.adLength-1)?0:this.crtIndex+1;
	},
	//动画切换
	fnSwitch:function(toIndex){
		if(this.crtIndex==toIndex){return;}
		this.$adLis.css('zIndex', 0);
		this.$adLis.filter(':eq('+this.crtIndex+')').css('zIndex', 2);
		this.$adLis.filter(':eq('+toIndex+')').css('zIndex', 1);
		this.$btns.removeClass('on');
		this.$btns.filter(':eq('+toIndex+')').addClass('on');
		var me = this;

		$(this.$adLis[this.crtIndex]).animate({
			opacity: 0
		}, 1000, function() {
			me.crtIndex = toIndex;
			$(this).css({
				opacity: me.defOpacity,
				zIndex: 0
			});
		});
	},
	fnAutoPlay:function(){
		this.fnSwitch(this.fnNextIndex());
	},
	fnPlay:function(){
		var me = this;
		me.timerSwitch = window.setInterval(function() {
			me.fnAutoPlay();
		},me.switchSpeed*1000);
	},
	fnStopPlay:function(){
		window.clearTimeout(this.timerSwitch);
		this.timerSwitch = null;
	},

	init:function(){
		this.$adLis = this.$ctn.children();
		this.$btns = this.$focus.children();
		this.adLength = this.$adLis.length;

		var me = this;
		//点击切换
		this.$focus.on('click', 'a', function(e) {
			e.preventDefault();
			var index = parseInt($(this).attr('data-index'), 10)
			me.fnSwitch(index);
		});
		this.$adLis.filter(':eq('+ this.crtIndex +')').css('zIndex', 2);
		this.fnPlay();

		//hover时暂停动画
		this.$ctn.hover(function() {
			me.fnStopPlay();
		}, function() {
			me.fnPlay();
		});

		if($.browser.msie && $.browser.version < 7) {
			this.$btns.hover(function() {
				$(this).addClass('hover');
			},function() {
				$(this).removeClass('hover');
			});
		}
	}
};
var player1 = new glume('_banners', '_focus');    
</script>
 <!--banner轮播图JQ--> 

	<!--main主体-->

	  <!--main第一层div-->
       <div class="main_A">
          <div class="main_Language">
          		<div class="main_li1">
          		   <div class="php_header">
          		   	  <div><h3>后端开发</h3></div>
          		   	  <div><img src="__IMG__/main_a.png"/></div>
          		   </div>
          		   <div class="php_footer">
          		      <div class="php_text">
          		      	<p>这是一款神奇的技能，简单而又粗暴、
						 快捷而又实用，互联网开发之利器，当上CEO迎娶白富美，开拓人生之巅峰，
						 还不快快点击加入学习？
						 </p>
          		      </div>
          		      <div class="php_p">
          		      	<p><a href="#">点击收获财富>></a></p>
          		      </div>
          		   </div>
          		</div>

          		<div class="main_li2">
          		    <div class="php_header">
          		   	  <div><h3>前端开发</h3></div>
          		   	  <div><img src="__IMG__/main_b.png"/></div>
          		   </div>
          		   <div class="php_footer">
          		      <div class="php_text">
          		      	<p>这是一款神奇的技能，简单而又粗暴、
						 快捷而又实用，互联网开发之利器，当上CEO迎娶白富美，开拓人生之巅峰，
						 还不快快点击加入学习？
						 </p>
          		      </div>
          		      <div class="php_p">
          		      	<p><a href="#">点击收获财富>></a></p>
          		      </div>
          		   </div>
          		</div>
          		<div class="main_li3">
          		    <div class="php_header">
          		   	  <div><h3>移动端开发</h3></div>
          		   	  <div><img src="__IMG__/main_c.png"/></div>
          		   </div>
          		   <div class="php_footer">
          		      <div class="php_text">
          		      	<p>这是一款神奇的技能，简单而又粗暴、
						 快捷而又实用，互联网开发之利器，当上CEO迎娶白富美，开拓人生之巅峰，
						 还不快快点击加入学习？
						 </p>
          		      </div>
          		      <div class="php_p">
          		      	<p><a href="#">点击收获财富>></a></p>
          		      </div>
          		   </div>
          		</div>
          		</div>


          </div>
       </div>
      <!--main第一层div结束-->

      <!--main第二层div-->
       <div class="main_Two">
          <div class="main_Twoauto"></div>
       </div>
     <!--main第二层div结束-->

     <!--main第三层div-->
       <div class="main_Three">
          <div class="main_Threeauto"></div>
       </div>
     <!--main第三层div结束-->

     <!--main第四层div-->
       <div class="main_Four">
         <div class="main_Fauto">
           <div class="main_Fourheader">
           	 <!--课程遍历区-->
           	   <ul>
           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>

           	   	<li>
           	   		<div class="Four_li">
           	   			<div class="Four_top">
           	   				<a href="#"><img src="__IMG__/Fli.jpg"/></a>
           	   			</div>
           	   			<div class="Four_bottom">
           	   				<p class="Four_p1"><a href="#">Hadoop大数据平台架构与实践--基础篇</a></p>
           	   				<p class="Four_p2">2小时前更新 <span>14556人学习</span></p>
           	   			</div>
           	   		</div>
           	   	</li>
           	   </ul>
           	  <!--课程遍历区结束-->
           </div>
         </div>
         <div class="main_Fourbottom">
         	<div class="main_Fbauoto">
         		<a href=""><div class="Fbauto_p"></div></a>
         	</div>
         </div>
       </div>
     <!--main第四层div结束-->

     <!--main第五层div-->
       <div class="main_Five">
          <div class="main_Fiveimg">
          	<div class="Fiveimg_text">
          	  <div class="Five_auto">
          		<h3>hello ! my name is libin hu </h3>
          		<p>
          		<a href="#">
          			During the long developing software, interface design work has not been seriously rise. Do interface design also is referred to as the "artist" derogatory. In fact, software interface design like industrial modelling design of industrial products, is an important buy the product. A friendly and beautiful interface can give a person the comfortable visual enjoyment, close the distance between a man and a computer, create a selling point for businesses. 
          		</a>
          		</p>
          	  </div>
          	</div>
          </div>
       </div>
     <!--main第五层div结束-->


	<!--main主体结束-->
<include file="Public/footer" />
</body>
</html>